/* .application-history-container {
  margin: 0 auto;
  max-width: 2000px;
  
}

.application-history-title {
  color: #283E4A;
  font-size: 28px;
  font-weight: bold;
  margin: 24px 0 0 0;
  text-align: left;
}

.application-history-subtitle {
  color: #283E4A;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.application-history-list {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 24px;
  padding: 24px;
}

.application-history-list .job-posting {
  border-bottom: 1px solid #dce0e0;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.application-history-list .job-posting:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.application-history-list .job-posting h2 {
  color: #283E4A;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.application-history-list .job-posting p {
  color: #54698d;
  font-size: 16px;
  margin: 12px 0;
}

.application-history-list .job-posting p span {
  color: #283E4A;
  font-weight: 500;
  margin-right: 8px;
} */
.application-history-container {
  margin: 0 auto;
  max-width: 2000px;
}

.application-history-title {
  color: #283E4A;
  font-size: 28px;
  font-weight: bold;
  margin: 24px 0 0 0;
  text-align: left;
}

.application-history-subtitle {
  color: #283E4A;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}
/* box below the h2 subtile */
.application-history-list {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 24px;
  padding: 24px;
  display: flex; 
  flex-direction: row; /*  this makes the flex items display horizontally */
}

.application-history-list .column {
  display: flex; /*  this makes each column a flex container */
  flex-direction: column; /* this makes each column display vertically */
  flex-grow: 1; /* this  makes each column take up equal amount of space */
}

.application-history-list .column:not(:last-child) {
  margin-right: 240px; /* this adds spacing between columns */
}
/* this represents the column names position company etc */
.application-history-list .column h2 {
  color: #283E4A;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 12px 0;
  text-align: left;
}
/* this represents the text in the columns software engineer,brp etc */
.application-history-list .column p {
  color: #54698d;
  font-size: 16px;
  margin: 0;
  text-align: left;
}
/* the 3 dot buttons */
.action-container button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #54698d;
  cursor: pointer;
  outline: none;
}
/* container that holds the view application and withdraw */
.options-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
}
/* view application and withdraw application buttons */
.options-container button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #54698d;
  cursor: pointer;
  outline: none;
  padding: 16px 24px;
  text-align: left;
  transition: all 0.2s ease-in-out;
}




