@font-face {
    font-family: 'Inter-regular';
    src: url(../../assets/Inter-Regular.ttf);
  }
  
  
  .DescriptionContainer {
    background: white;
    border: 2px solid rgba(0, 106, 249,0.8);
    border-radius: 20px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 4rem;
    transition: all 0.3s ease 0s;
    position: relative;
    min-height: 20vh;
    
    width: 65vw;
    
    }

    .descriptionHeaderWrap{
        width: 100%;
        float: left;
    }


    .description {
        margin-bottom: 0.3rem;
        text-align: left;
        font-size: 1.5rem;
        font-weight: bold;
        color: #3E3E3E;
        font-family: "Inter-regular";
        padding: 1rem;
        width: 75%;
        display: inline-block;
        
    }

    .editButtonDescription{
        width: 25%;
        display: inline-block;
        align-items: right;
        right: 0;
    }

    .descriptionText{

        text-align: left;
        font-size: 1rem;
        color: #3E3E3E;
        font-family: "Inter-regular";
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    
    @media only screen and (max-width: 1000px){

        .DescriptionContainer {
            background: white;
            border: 2px solid rgba(0, 106, 249,0.8);
            border-radius: 20px;
            
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            margin-top: 4rem;
            transition: all 0.3s ease 0s;
            position: relative;
            min-height: 20vh;
            padding: 10px;
            
            width: 90vw;
            
            }
            .description {
                margin-bottom: 0.3rem;
                text-align: left;
                font-size: 2rem;
                font-weight: bold;
                color: #3E3E3E;
                font-family: "Inter-regular";
                padding: 1rem;
                width: 75%;
                display: inline-block;
                
            }
            .descriptionText{

                text-align: left;
                font-size: 0.7rem;
                color: #3E3E3E;
                font-family: "Inter-regular";
                padding-left: 1rem;
                padding-right: 1rem;
                width: 100%;
            }
        

            
    }


