.userconnection  {
    background-position: center;
    height: 100vh;
    background-color: #f8f8f8;
    padding-top: 20px;
    text-align: center;
  }
  
  .gridCenter{
  
  
    margin-left: auto;
    margin-right: auto;
  }
  
  .request-section {
    margin: auto;
    width: 80%;
  
    margin-top: 5vh;
    margin-bottom: 5vh;
    
    background: white !important;
    border: 2px solid #8f8aff;
    border-radius: 15px;
    display: flex;
    align-items: center;
  
    justify-content: center;
    padding: 20px;
  }
  
  .request-section .image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .request-section .info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .request-section .info h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .request-section .info p {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  .request-section .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .request-section .buttons button {
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .request-section .buttons .accept {
    background-color: #4CAF50;
    color: #ffffff;
  }
  
  .request-section .buttons .decline {
    background-color: #f44336;
    color: #ffffff;
  }
  
  .request-section .buttons .view {
    background-color: #7d8bff;
    color: #ffffff;
  }
  
  
  .friend-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #8f8aff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 0px;
   
    margin: 20px;
  }
  
  .friend-request-header {
    background: #908affbf;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .friend-request-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .friend-request-name {
    font-size: 18px;
    text-decoration: none !important;
    margin: 0;
  }
  
  .friend-request-mutual {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  .friend-request-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .button-lookup{
    text-transform: none !important;
  }

  .button-removecontact{
    text-transform: none !important;
  }

  .friend-request-actions .button-lookup:hover{
    background-color: #8f8aff;
    color:white;
  }

  .friend-request-actions .button-removecontact:hover{
    background-color: #8f8aff;
    color:white;
  }
  
  .friend-request-button {
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
  }
  
  .friend-request-accept {
    background-color: #007bff;
  }
  
  .friend-request-decline {
    background-color: #dc3545;
  }