.drawer{
    background-color: #BDBABA;
}

.icon{
    color: #9606D9;
}

.drawer-link{
    text-decoration: none;
    color: #9606D9;
    font-size: 20px;
    font-family: 'Inter-regular';
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}