.jobapplication{
    background-repeat: no-repeat;
    background-color: rgba(217, 217, 217, 0.7);
    height: 180vh;
    padding-top: 1%;
}

.titlename{
    font-family: "Roboto";
    font-size: xx-large;
    padding: 10px;
}

.formoutline{
    background:  rgb(242, 240, 240);    
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 5px;
    opacity: 90%;
    padding-top: 2%;
    
}


.header{
    font-size: x-large;
    color: #120564;
    padding: 10px;
}

.dropdown{
    width: 150%;
    float: center;
}

.input .MuiOutlinedInput-root {
    background: white;
    border-radius: 30px;  
    width: 320%;
    border-color: #120564;
    
    
  }
  
.input .MuiInputLabel-root {
    position: absolute;  
    transform: translate(14px, 14px) scale(1);
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    pointer-events: none;
    z-index: 2;
    transition: transform 200ms, color 200ms;
  }
  
.input .MuiInputLabel-shrink {
    transform: translate(14px, 0) scale(0.75);
  }

  .input2 .MuiOutlinedInput-root {
    background: white;
    border-radius: 30px;  
    width: 110%;
    border-color: #120564;
    
  }
  
.input2 .MuiInputLabel-root {
    position: absolute;  
    transform: translate(14px, 14px) scale(1);
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    pointer-events: none;
    z-index: 2;
    transition: transform 200ms, color 200ms;
  }
  
.input2 .MuiInputLabel-shrink {
    transform: translate(14px, 0) scale(0.75);
  }

  .label{
    text-align: right;
    color: red;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid-container input {
    padding: 10px;
}

.city{
    margin-left: 18%;
    width: 300%;
}

.province{
    margin-left: 200%;
    width: 300%;
}

.areacode{
    margin-left: 380%;
    width: 300%;
}

.start{
    margin-left: 18%;
    width: 300%;
}

.end{
    margin-left: 350%;
    width: 300%;
}
.buttons{
    width: 150%;
    margin-left: 70%;
    padding: 20px;
    
}

.background-image{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    background-size: 90%;
    
}

@media screen and (max-width: 600px) {
    .jobapplication{
        height: auto;
        width: 300%;
    }
    
    .formoutline{
        width: 110%;
    }
    
    .dropdown{
        width: 100%;
    }
    
    .input .MuiOutlinedInput-root {
        width: 90%;
    }
    
    .input2 .MuiOutlinedInput-root {
        width: 90%;
    }
    
    .grid-container {
        display: block;
    }
    
    .city, .province, .areacode, .start, .end, .buttons{
        margin-left: 0;
        width: 90%;
    }
}