@font-face {
  font-family: 'Inter-regular';
  src: url(../../assets/Inter-Regular.ttf);
}

.jobSearchingText{
  font-style: "Inter-regular" !important;
  margin-left: 20rem;
  display: block !important;
  font-weight: 200px !important;
  color: #6C63FF !important;
  font-size: 25px !important;
  text-align: justify !important;
}

.desiredJobText{
  font-style: "Inter-regular" !important;
  margin-left: 20rem;
  display: block !important;
  font-weight: 200px !important;
  color: #6C63FF !important;
  font-size: 20px !important;
  text-align: justify !important;
}

.container {
  background: white;
  border: 2px solid #8f8aff;
  border-radius: 1rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 5rem;
  transition: all 0.3s ease 0s;
  position: relative;
  width: 1000px;
  
  }
  
  .position {
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3E3E3E;
    font-family: "Inter-regular";
  }
  
  .company {
    text-align: left;
    font-size: 1.2rem;
    font-weight: normal;
    color: #6D6D6D;
    margin-bottom: 0.5rem;
    font-family: "Inter-regular";
  }
  
  .contract {
    text-align: left;
    font-size: 1.1rem;
    color: #6D6D6D;
    margin-bottom: 0.5rem;
    font-family: "Inter-regular";
  }
  
  .location {
    text-align: left;
    font-size: 1.1rem;
    font-weight: normal !important;
    color: #6D6D6D;
    margin-bottom: 0.5rem;
    font-family: "Inter-regular";
  }
  
  .button-moreinfo {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-color: white !important;
  color: black;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  }
  
  .button-moreinfo:hover {
  background-color: #8f8aff;
  }
  
  .button-moreinfo-position {
  right: 1.5rem;
  top: 1.5rem;
  position: absolute;
  }

  .noJobsFound {
    padding-top: 10%;
    font-weight: bold;
    font-size: 20px;
  }