.job-suggestions-container {
    position: absolute;
    top: 165px;
    right: 100px;
    background-color: rgba(217, 217, 217, 0.7);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
  }
  

.job-suggestions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job {
    margin: 10px 0;
    text-align: center;
}

button {
    margin-top: 10px;
}
