@font-face {
  font-family: "Inter-regular";
  src: url(../../assets/Inter-Regular.ttf);
}

.icon {
  display: inline-flex;
  vertical-align: middle;
}

.navbar-toolbar {
  z-index: 1;
}

.logo {
  cursor: pointer;
  height: 50px;
  max-height: 90%;
}

.link {
  text-decoration: none;
  color: #626262;
  font-size: 20px;
  margin-left: 50px;
  font-family: "Inter-regular";
  font-weight: 600;
}

.link:hover {
  color: #00acff;
}

.link:hover .icon {
  color: #00acff;
  /* border-bottom: 1px solid #660e99; */
}
.link-button {
  color: #626262 !important;
  font-size: 20px !important;
  margin-left: 50px !important;
  font-family: "Inter-regular" !important;
  font-weight: 600 !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
  display: inline-flex !important;
  align-items: center !important;
  padding-top: 0px !important;
}

.link-button:hover {
  color: #00acff !important;
}

.link-button:hover .icon {
  color: #00acff !important;
  border-bottom: 1px solid #00acff !important;
}
