
.input-box {
  position: relative;
  height: 50px;
  max-width: 700px;
  width: 100%;
  background: rgba(217, 217, 217, 0.75);
/* change where search bar appears here in margin*/
  margin: 0 350px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;

}

.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */

  .input-box i {
    left: 5px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 20px 0 20px;
    margin-top: 1em;
    font-weight:normal;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
