.Logo{
    display: inline-block;
    /* flex-grow: 1; */
    cursor: pointer;
    height: 10vh;
    max-width: 100%;
    margin-left: 280%;
    margin-right: auto;
}

.Section1{
    margin-left: 7%;    
    font-size: 90%;
    color: black;
    padding-top: 10px;
}

.Section2{
    margin-left: 2%;
    color: black;
    font-size: 90%;
    padding-top: 10px;
}

.Section3{
    margin-left: 2%;
    color: black;
    font-size: 90%;
    padding-top: 10px;

}

.footer{
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    background-color: wh#010101;
    border-radius: 229px;
}