@font-face {
    font-family: 'Inter-regular';
    src: url(../../assets/Inter-Regular.ttf);
}

.file-type{
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.foreground-colour{
    background-color: rgba(217, 217, 217, 0.7);
    height: 100%;
    width: 80%;
    margin: auto;
}

.background-image{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: white;
    border-radius: 229px;
}

.profile-pic{
    width: 10em;
    height: 10em;
    border-radius: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.profile-pic:hover{
    opacity: 0.9;
}

.pfp-wrap{
    text-align: center;
    width: 10em;
    height: 10em;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 100px;
    background-color: black;
}
.pfp-wrap:hover{
    cursor: pointer;
}

.education-picture{
    width:7em;
    height: auto;
}

.line{
    width: 90%;
    height: 3px;
    background-color: black;
    margin-left: 2%;
}

.sub-line{
    width: 80%;
    margin-left: 2%;
}

.name{
    font-family: "Inter-Regular";
    font-size: large;
}

.bio{
    font-family: "Inter-Regular";
}

.header{
    font-family: "Inter-Regular";
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
    width: 500px;
}

.skill{
    text-align: left;
    margin: 5%;
}

.profile-icon{
    display: inline-flex;
    vertical-align: middle;
    float: right;
    margin-left: 5px;
}

.profile-item{
    float: right;
}