.CompanyProfileContainer {
    min-height: 90vh;
    margin-top: 100px;
    background: url(../../static/images/background.svg) no-repeat center center
        fixed;
    background-size: cover;
    
}
